<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/80a0accc-daaf-47de-be12-3122ff722489/resourceGroups/RGTestLevLachim/providers/Microsoft.Web/sites/go-visit-api</ResourceId>
    <ResourceGroup>RGTestLevLachim</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://go-visit-api-a5e3fwe2ekfnb4f8.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ec8c3493-b9f4-4e7f-ba4d-35d0fbd9388e</ProjectGuid>
    <MSDeployServiceURL>go-visit-api-a5e3fwe2ekfnb4f8.scm.westeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>go-visit-api</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAq+oQ4z57lkK3UL4gwN1qpQAAAAACAAAAAAAQZgAAAAEAACAAAABYJMqmRCnT20bQHHqgiUwKG/9FPbvm8AMfak9nlLAoEQAAAAAOgAAAAAIAACAAAABvg0pApxJsFU4/KQMCx2O64WvV2eVbew4UdOJvLbg8wiAAAAC9nzuGet/sla6vWqx5VNPX1xv/TLpNmC+8Q6pVzOG1CUAAAACfXACIofNPj1Jc6S/eN6ZZvUZJ40A8CZ3d5AgcO0u7kqM8SyPtnoWLqd96xKP6hiWe0BPQMy0QU7w0NoTzfmDH</EncryptedPassword>
    <IsBasicAuthAllowed>True</IsBasicAuthAllowed>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>